//выезжающее меню при нажатии на бургер не покрывает контент
body {
	font-family: "Inter";
}

.button {
	border-radius: 16px;
	transition-duration: 0.3s;

	&:hover {
		color: #202226;
		background: #ffd583;
	}
	&:active {
		background: #e2b762;
	}
	box-shadow: -5px -5px 17px -13px rgba(0, 0, 0, 0.06), 5px 5px 7px -13px rgba(0, 0, 0, 0.25),
		inset -5px -5px 8px rgba(95, 95, 95, 0.14), inset 5px 4px 8px rgba(95, 95, 95, 0.4);
}

.active-body {
	overflow: hidden;
	height: 100vh;
}
.wrapper {
	overflow: hidden;
}
.title {
	display: flex;
	@media (max-width: 830px) {
		font-size: 30px;
	}
	@media (max-width: 600px) {
		font-size: 25px;
		line-height: 28px;
	}
	font-family: "Helvetica";
	font-weight: 700;
	font-size: 48px;
	line-height: 55px;
	letter-spacing: -0.04em;
	color: black;
	margin: 0 0 100px 0;
	max-width: 1000px;
}

.blick {
	position: absolute;
	top: 0;
	left: 0;
	img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}
}

.header {
	margin: 58px 0 172px 0;
	padding: 200px 0 0 0;
	@media (max-width: 1300px) {
		padding: 150px 0 0 0;
	}
	@media (max-width: 1050px) {
		padding: 100px 0 0 0;
	}

	&__blick-1 {
		left: 0px;
		top: -58px;
		width: 566.03px;
		height: 768.96px;
		@media (max-width: 600px) {
			width: 100%;
		}
	}

	&__top {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		padding: 0 150px;
		transition-duration: 0.3s;
		background-color: transparent;
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1100px) {
			margin: 0 0 100px 0;
		}
		@media (max-width: 1700px) {
			margin: 0 0 100px 0;
			padding: 0 30px;
		}
	}

	&__top-left {
		display: flex;
		align-items: center;
		flex-basis: 50%;
		position: relative;
		z-index: 2;
	}

	&__top-logo {
		margin: 0 65px 0 0;
		@media (max-width: 480px) {
			margin: 0 30px 0 0;
		}
	}

	&__top-search {
		display: flex;
		flex-grow: 1;
		align-items: center;
		label {
			width: 16px;
			height: 16px;
			margin: 0 11px 0 0;
			img {
				width: 100%;
				height: 100%;
			}
		}
		label {
			cursor: pointer;
		}
	}

	&__search-input {
		display: flex;
		width: 217px;
		background-color: transparent;
		color: #bebebe;
		font-size: 20px;
		&::placeholder {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			color: #bebebe;
		}
		@media (max-width: 1100px) {
			&::placeholder {
			}
		}

		@media (max-width: 580px) {
			&::placeholder {
				font-size: 0;
			}
			width: 77px;
		}
	}

	&__top-right {
		max-width: 100%;
		display: flex;
		align-items: center;
	}

	&__top-burger {
		display: none;
		margin: 0 40px 0 0;
		@media (max-width: 1400px) {
			display: block;
		}
	}

	&__top-list {
		display: flex;
		justify-content: space-between;
		margin: 0 55px 0 0;
		align-items: center;
		@media (max-width: 1400px) {
			position: fixed;
			display: block;
			transition-duration: 600ms;
			left: 0;
			top: -100%;
			height: 100%;
			width: 100%;
			background-color: #fff;
			padding: 80px 20px 20px 20px;
			z-index: 3 !important;
			overflow: auto;
			padding: 140px 0 0 0;
			&.active {
				top: 0px;
				margin: 0;
				.header__top-li {
					&:hover {
						color: #202226;
						background: #ffd583;
					}
					&:active {
						background: #e2b762;
					}
					a {
						color: #fff;
					}
				}
			}
		}
	}

	&__top-li {
		margin: 0 38px 0 0;
		transition-duration: 0.3s;

		cursor: pointer;
		a {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			color: #202226;
			white-space: nowrap;
		}
		@media (max-width: 1400px) {
			width: 100%;
			font-size: 30px;
			text-align: center;
			margin: 0 0 30px 0;
			background: #202226;

			padding: 20px;
		}
	}

	&__top-profile {
		position: relative;
		z-index: 3;
		cursor: pointer;
	}

	&__body {
	}

	&__body-wrapper {
		max-width: 1394px;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
	}

	&__body-img {
		height: 380px;
		width: 100%;
		position: relative;
		z-index: 2;
		& > img {
			width: 840px;
			height: 867px;
			position: absolute;
			left: 56% !important;
			top: 50% !important;
			transform: translate(-50%, -50%);
			object-fit: cover;
			top: 0;
			left: 0;
			@media (max-width: 1300px) {
				width: 640px;
				height: 660px;
			}
			@media (max-width: 1050px) {
				width: 540px;
				height: 557px;
				top: 65% !important;
			}

			@media (max-width: 600px) {
				top: 40% !important;
				width: 350px;
				height: calc(350px / 0.97);
			}
		}
	}

	&__body-content {
		flex-grow: 0;
		max-width: 50%;
		position: relative;
		z-index: 3;
	}

	&__body-title {
		font-family: "Helvetica";
		font-weight: 700;
		font-size: 65px;
		line-height: 82px;
		color: #202226;
		margin: 0 0 16px 0;
		position: relative;
		z-index: 2;
		span {
			white-space: nowrap;
		}
		@media (max-width: 800px) {
			font-size: 50px;
			line-height: 54px;
		}
		@media (max-width: 800px) {
			font-size: 35px;
			line-height: 34px;
		}
	}

	&__body-welcome {
		font-family: "Inter";
		font-size: 20px;
		line-height: 24px;
		color: #202226;
		margin: 0 0 92px 0;
		position: relative;
		z-index: 2;
		@media (max-width: 1320px) {
			font-size: 16px;
			line-height: 19px;
		}
	}

	&__body-buttons {
		display: flex;
		position: relative;
		z-index: 2;
		@media (max-width: 930px) {
			flex-direction: column;
		}
	}

	&__body-button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 40px;
		gap: 10px;
		width: 254px;
		height: 60px;
		background-color: #fff;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		background: #202226;
		margin: 0 36px 0 0;
		color: #fff;
		box-shadow: -5px -5px 17px -13px rgba(0, 0, 0, 0.2), 5px 5px 7px -13px rgba(0, 0, 0, 0.25),
			inset -5px -5px 8px rgba(95, 95, 95, 0.14), inset 5px 4px 8px rgba(95, 95, 95, 0.6);
		white-space: nowrap;
		&:last-child {
		}
		@media (max-width: 930px) {
			flex-direction: column;
			margin: 0 0px 20px 0;
		}
		@media (max-width: 570px) {
			&:nth-child(1) {
				width: 200px;
			}
		}
	}
	&__body-button-create {
		margin: 0;
		color: black;
		background-color: #fff;
		box-shadow: none;
		border: 1px solid #000 !important;
	}
}
.is_scrolled-mainPage {
	transition-duration: 0.3s;
	background-color: rgb(61, 59, 59);
	.header__top-li {
		a {
			color: rgb(228, 225, 225);
		}
	}
}
.container {
	max-width: 1968px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

//====================================================================
//=======================marketplace=================================
//====================================================================

.marketplace {
	position: relative;
	&__blick-1 {
		width: auto;
		height: auto;
		top: 10%;
		img {
			height: 100%;
			width: 100%;
		}
	}
	&__blick-2 {
		z-index: 1;
		left: 100%;
		transform: translate(-100%);
		top: 50%;
		width: 405px;
		height: 385px;
		img {
			object-fit: fill;
		}
	}

	&__container {
		padding: 210px 9%;
		background: #202226;
		overflow: hidden;
		@media (max-width: 920px) {
			padding: 110px 30px;
		}
	}

	&__wrap {
		margin: 0 0 56px 0;
		position: relative;
	}

	&__line {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
		width: 100%;
	}

	&__title {
		color: white;
		position: relative;
		z-index: 2;
	}

	&__content {
		position: relative;
		z-index: 2;
	}

	&__list {
		display: flex;
		margin: 0 -5px;
		position: relative;
		z-index: 2;
		@media (max-width: 810px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		margin: 0 20px 0 0;
		padding: 39px 2%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: rgba(255, 255, 255, 0.04);
		box-shadow: -14px -14px 45px -13px rgba(22, 22, 22, 0.15), 14px 14px 45px -13px rgba(22, 22, 22, 0.3);
		backdrop-filter: blur(12px);
		border-radius: 27px;
		align-items: center;
		cursor: pointer;
		@media (max-width: 920px) {
			padding: 39px 20px;
		}
		@media (max-width: 810px) {
			width: 48%;
			margin: 0 20px 20px 0;
			&:nth-child(2) {
				margin: 0 0px 20px 0;
			}
			&:nth-child(3) {
				margin: 0 20px 0px 0;
			}
			&:nth-child(4) {
				margin: 0;
			}
		}
		@media (max-width: 576px) {
			width: 47%;
		}
		@media (max-width: 576px) {
			width: 46%;
		}
		@media (max-width: 576px) {
			width: 44%;
		}
		// @media (max-width: 600px) {
		// 	width: 100%;
		// 	margin: 0 0px 20px 0;
		// }
		&:last-child {
			margin: 0;
		}
	}

	&__image {
		margin: 16px;
		@media (max-width: 920px) {
			img {
				width: 80px;
			}
		}
	}

	&__sub-text {
		font-family: "Inter";
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		line-height: 22px;
		align-items: center;
		color: #f3f2ea;
	}

	&__block {
		display: flex;
		justify-content: left;
		@media (max-width: 810px) {
			flex-wrap: wrap;
		}
	}

	&__txt {
		font-family: "Inter";
		font-size: 20px;
		line-height: 24px;
		display: flex;
		color: #f3f2ea;
		max-width: 495px;
		margin: 0 20px 0 0;
		@media (max-width: 820px) {
			margin: 0 0px 30px 0;
			font-size: 20px;
		}
	}

	&__link {
		font-family: "Inter";
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		color: #f3f2ea;
		height: 60px;
		padding: 0px 70px;
		border: 1px solid white;
		background: transparent;
	}
}

//====================================================================
//======================onlineCourse===================================
//====================================================================

.onlineCourse {
	position: relative;
	&__blick {
		top: 5%;
	}

	&__container {
		position: relative;
		z-index: 1;
		padding: 210px 9%;
		@media (max-width: 920px) {
			padding: 110px 9%;
		}
	}

	&__line {
		top: 40%;
		display: flex;
		justify-content: center;
		left: -5%;
		position: absolute;
	}

	&__title {
		margin: 0 0 23px 0;
		@media (screen) {
		}
	}

	&__subtitle {
		font-family: "Inter";
		font-size: 20px;
		line-height: 24px;
		color: #202226;
		max-width: 1000px;
		margin: 0 0 131px 0;
	}

	&__sliders {
		position: relative;
		z-index: 3;
	}
}

.slick-list {
	height: 100%;
	.slick-track {
		display: flex;
		height: 100%;
	}
}

.sliders {
	&__part1 {
		margin: 0 0 20px 0;
	}
	&__item {
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__part2 {
	}
}

.slider {
	&__item {
		width: 284px;
		height: 86px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(207, 203, 203, 0.26);
		box-shadow: 0px 5px 45px -13px rgba(0, 0, 0, 0.15), inset 0px 4px 16px rgba(0, 0, 0, 0.04);
		backdrop-filter: blur(50px);
		border-radius: 100px;

		cursor: pointer;
		margin: 0 20px 0 0;
	}
}

//====================================================================
//=========================onlineSchool=================================
//====================================================================

.onlineSchool {
	position: relative;
	&__container {
		padding: 50px 9%;
		position: relative;
		overflow: hidden;
	}

	&__blick-1 {
		top: 40%;
		width: 209px;
		height: 243px;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		@media (max-width: 1200px) {
			justify-content: flex-start;
		}
	}

	&__line {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -10%);
		left: 50%;
		display: flex;
		justify-content: center;
	}

	&__content {
		max-width: 657px;
		flex-grow: 1;
	}

	&__title {
		margin: 0 0 16px 0;
		text-align: left;
		display: block;
		span {
			white-space: nowrap;
		}
	}

	&__subtitle {
		margin: 0 0 92px 0;
		font-family: "Inter";
		font-size: 20px;
		line-height: 24px;
		color: #202226;
	}

	&__button {
		position: absolute;
		z-index: 3;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 254px;
		height: 59px;
		background: #202226;
		box-shadow: -5px -5px 17px -13px rgba(0, 0, 0, 0.2), 5px 5px 7px -13px rgba(0, 0, 0, 0.25),
			inset -5px -5px 8px rgba(95, 95, 95, 0.14), inset 5px 4px 8px rgba(95, 95, 95, 0.6);
		color: #fff;
		cursor: pointer;

		@media (max-width: 1100px) {
			margin: 220px 0 0 0;
		}
	}

	&__img {
		display: flex;
		align-items: flex-end;
		width: 50%;
		position: relative;

		& > img {
			width: 625px;
			min-width: calc(625px / 1.62);
			height: 100%;
			left: 50%;
			top: 35%;
			transform: translate(-50%, -50%);
			position: relative;
			z-index: 2;
			right: 0;
			@media (max-width: 1300px) {
				top: 45%;
				left: 30%;
			}
			@media (max-width: 1100px) {
				left: 10%;
				top: 70%;
			}
			@media (max-width: 890px) {
				left: 0%;
				top: 70%;
			}
			@media (max-width: 830px) {
				left: 50%;
			}
			@media (max-width: 785px) {
				left: 70px;
			}
			@media (max-width: 720px) {
				left: 0px;
			}
			@media (max-width: 520px) {
				left: -90px;
			}
			@media (max-width: 520px) {
				left: -150px;
			}
		}
	}
}

//====================================================================
//==========================FOOTER=================================
//====================================================================

.footer {
	position: relative;

	&__blick-1 {
	}

	&__blick-2 {
		left: 40%;
		top: 20%;
	}

	&__container {
		background: #202226;
		padding: 150px 7%;
		position: relative;
		@media (max-width: 900px) {
			padding: 60px 7%;
		}
	}

	&__top {
		margin: 0 0 270px 0;
		@media (max-width: 840px) {
			margin: 0 0 160px 0;
		}
	}

	&__line {
		border: 1px solid #f3f3eb;
		position: absolute;
		top: 60%;
		left: 0;
		width: 100%;
		@media (max-width: 750px) {
			top: 65%;
		}
	}

	&__bottom {
		margin: 64px 0 0 0;
	}
}

.top-footer {
	&__text {
		max-width: 804px;
		font-family: "Inter";
		font-size: 24px;
		line-height: 160%;
		letter-spacing: -0.04em;
		color: #f3f3eb;
		margin: 0 0 150px 0;
		@media (max-width: 840px) {
			margin: 0 0 70px 0;
		}
	}

	&__content {
		display: flex;
	}

	&__img-wrap {
		flex-basis: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 1200px) {
			display: none;
		}
	}

	&__img {
		width: culc(1, 08443 * 500px);
		height: 500px;
		img {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	&__form {
		flex-basis: 50%;
		position: relative;
		z-index: 2;
		font-size: 16px;
		@media (max-width: 1200px) {
			flex-basis: 100%;
		}
	}

	&__inputs-top {
		display: flex;
		margin: 0 0 20px 0;
		justify-content: space-between;
		@media (max-width: 600px) {
			flex-direction: column;
			margin: 0;
		}
	}

	&__input-top {
		font-size: inherit;
		padding: 18px 24px;
		width: 100%;
		margin: 0 20px 0px 0;
		&:last-child {
			margin: 0;
		}
		height: 53px;
		background: #f3f3eb;
		box-shadow: 0px 5px 45px -13px rgba(22, 22, 22, 0.15), inset 0px 4px 16px rgba(77, 77, 77, 0.04);
		backdrop-filter: blur(50px);
		border-radius: 14px;
		@media (max-width: 600px) {
			margin: 0 0 20px 0 !important;
			width: 100%;
		}
	}

	&__input-middle {
		display: block;
		padding: 18px 24px;
		background: #f3f3eb;
		box-shadow: 0px 5px 45px -13px rgba(22, 22, 22, 0.15), inset 0px 4px 16px rgba(77, 77, 77, 0.04);
		backdrop-filter: blur(50px);
		border-radius: 14px;
		width: 100%;
		margin: 0 0 20px 0;
		font-size: inherit;
	}

	&__textarea {
		resize: none;
		font-size: inherit;
		display: block;
		margin: 0 0 20px 0;
		padding: 18px 24px;
		width: 100%;
		background: #f3f3eb;
		box-shadow: 0px 5px 45px -13px rgba(22, 22, 22, 0.15), inset 0px 4px 16px rgba(77, 77, 77, 0.04);
		backdrop-filter: blur(50px);
		border-radius: 14px;
	}

	&__submit {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 70px;
		border: solid 1px #fff;
		font-family: "Inter";
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		background-color: transparent;
		color: #f3f3eb;
		&:hover {
			box-shadow: -5px -5px 17px -13px rgba(255, 255, 255, 0.3), 5px 5px 7px -13px rgba(255, 255, 255, 0.5),
				inset -5px -5px 8px rgba(168, 163, 163, 0.14), inset 5px 4px 8px rgba(250, 250, 250, 0.6);
		}
	}
}

.bottom-footer {
	&__wrapper {
		display: flex;
	}

	&__info {
		flex-basis: 50%;
		display: flex;
	}

	&__item {
		text-align: left;
		&:nth-child(1) {
			flex-basis: 70%;
			margin: 0 130px 0 0;
			@media (max-width: 690px) {
				margin: 0;
			}
		}
	}

	&__title {
		font-family: "Helvetica";
		font-weight: 700;
		font-size: 32px;
		line-height: 37px;
		letter-spacing: -0.04em;
		color: #f3f3eb;
		margin: 0 0 16px 0;
		@media (max-width: 690px) {
			font-size: 20px;
		}
	}

	&__subtitle {
		width: 261px;
		font-family: "Inter";
		font-size: 18px;
		line-height: 22px;
		color: #f3f3eb;
		margin: 0 0 71px 0;
		@media (max-width: 980px) {
			display: none;
		}
	}

	&__text {
		max-width: 290px;
		font-family: "Inter";
		font-size: 18px;
		line-height: 22px;
		color: #f3f3eb;
		margin: 0 0 30px 0;

		@media (max-width: 690px) {
			font-size: 15px;
		}
	}

	&__social {
	}

	&__social-signs {
		display: flex;
		align-items: center;
	}

	&__social-sign {
		margin: 0 16px 0 0;
		&:last-child() {
			margin: 0;
		}
	}

	&__about {
		font-family: "Inter";
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #f3f3eb;
		margin: 0 0 24px 0;
	}

	&__list {
		position: relative;
		z-index: 2;
	}

	&__li {
		margin: 0 0 24px 0;
		list-style-type: none;
		&:last-child {
			margin: 0;
		}
		a {
			font-family: "Inter";
			font-size: 18px;
			line-height: 22px;
			color: #f3f3eb;
		}
		@media (max-width: 690px) {
			a {
				font-size: 15px;
			}
		}
	}

	&__contacts-wrap {
		flex-basis: 50%;
		padding: 0 0 0 17%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 690px) {
			padding: 0;
		}
	}

	&__contacts {
	}

	&__cont {
		margin: 0 0 24px 0;
		a {
			font-family: "Inter";
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			color: #f3f3eb;
		}
		@media (max-width: 690px) {
			a {
				font-size: 15px;
			}
		}
	}

	&__connections {
		display: block;
	}

	&__connect {
		margin: 0 0 24px 0;
		a {
			font-family: "Inter";
			font-size: 18px;
			line-height: 22px;
			color: #f3f3eb;
			white-space: nowrap;
		}
		@media (max-width: 690px) {
			a {
				font-size: 15px;
			}
		}
		&:last-child() {
			margin: 0;
		}
	}
}

//===================BURGER=========================================
//===================BURGER=========================================
.burger {
	position: relative;
	z-index: 4;
	width: 25px;
	height: 16px;
	position: relative;
	transition-delay: 300ms;
	transition-delay: 0ms hover;
	span {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		bottom: calc(50% - 0.5px);
		background-color: #202226;
		transition-duration: 300ms;
		&:first-child {
			top: 0;
		}
		&:last-child {
			bottom: 0;
		}
	}
	&.active {
		span {
			transform: scale(0);
			background-color: #202226;
			&:first-child {
				transform: scale(0);
				transform: rotate(45deg);
				top: 9px;
			}
			&:last-child {
				transform: scale(0);
				transform: rotate(-45deg);
				top: 9px;
			}
		}
	}
}
